---
---
@import "main";


*  {
    direction: rtl;
}

.cnav {
    font-size: 1.4em;
    padding: 20px 20px 20px 20px;
    background-color: #c9d8c5;
}

body {
    
    background-color: #edd9c0;
    color: #7d4627;
}

.c-head{
    background-color: #c9d8c5;
    padding: 20px;
}

a {
    color: #fff;
}


footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #c9d8c5; 
}




//  #edd9c0 #c9d8c5 #a8b6bf #7d4627 
